*{
    margin: 0px;
    padding: 0px;
}
.header {
    height: 80px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    box-sizing: border-box;
}

nav{
    border: 1px solid black;
    margin-top: 10px;
    background-color: black;
}
ul {
    list-style-type: none;
    display: flex;
    
}
ul li {
    box-sizing: border-box;
    font-size: 20px;
}
ul li a{
    display: block;
    text-decoration: none;
    color: rgb(223, 216, 216);
    padding: 10px;
}
.active{
    background-color: rgb(10, 192, 101);
    
}
li a:hover{
    background-color: rgb(56, 58, 57);
    color: aliceblue;
}

.side{
    float: left;
    height: 450px;
    border: 1px solid black;
    width: 19%;
    text-align: center;
    display: block;
}
.main{
    height: 450px;
    display: block;
    border: 1px solid black;
    float: left;
    width: 60%;
    margin: 0px 10px;
    text-align: center;
}
.cont{
    margin-top: 10px;
    height: 450px;
}

.footer{
    border: 1px solid rgb(9, 44, 142);
    height: 55px;
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}
